.brown{
  color:#342F29 ;
}
.brownBackground{
  background-color: #342F29;
}
.text21{
  font-size: 21px;
}
.text36{
  font-size: 36px;
}
.yellowBackground{
  background-color: #D09F14;
}
.creamBackground{
  background-color: #F5EEDE;
}
.container{
  width: 38.737rem;
  height: 42.313rem;
  border-radius: 1.188rem;
  opacity: 32%;
  margin: 4rem;

}